<app-firstComponent></app-firstComponent> <!--Primeiro componente-->

<app-second-component></app-second-component> <!--Segundo componente-->

<app-pipe-customized></app-pipe-customized> <!--Terceiro componente-->

<app-two-way-data></app-two-way-data> <!--Quarto componente-->

<app-renderizando-listas></app-renderizando-listas> <!--Quinto componente-->

<app-personalized name = "Joao" lastName="da Silva"></app-personalized> <!--Sexto componente-->

<app-personalized name = "Maria" lastName="Januaria"></app-personalized> <!--Sexto componente-->

<app-cpai></app-cpai> <!--Sétimo componente-->

<app-servico01></app-servico01> <!--Oitavo componente-->

<app-servico02></app-servico02> <!--Nono componente-->

